// Nút Add Phone
.btnhead {
    text-align: center;
    padding: 10px;
   
}
.btnAdd {
    border-radius: 5px;
    background-color: rgb(57, 57, 138);
    color: white;
}
.btnAdd i {
    padding-right: 5px;
    
}

