.headCycber {
    display: flex;
    background-color: black;
    opacity: 40%;
    color: white;
}
.headCycber i {
    font-size: 30px;
}
.navbar-toggler {
    color: white;
}
.headCycber .navbar-brand {
    color: white;
    font-size: 20px;
}
.headContent {
    text-align: left;
}
.nav-item a {
    color: white;
    font-size: 13px;

}
.nav-item:hover {
    font-size: 20px;
}
