.modal-body {
    transform: scale(1);
}

.container-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #4d5e6c23;
    transform: scale(0);
    transition: all 0.25s linear;
}

.modal {
    z-index: 10;
    background-color: #fff;
    position: absolute;
    border: 2px solid #c0ccd7;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.active-modal {
    transform: scale(1);
    transition: all 0.25s linear;
}


